.nav-menu {
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  min-height: 100vh;
  padding: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  display: none;
  z-index: 1; }
  .nav-menu--visible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

a {
  cursor: pointer; }

.nav-menu a {
  text-decoration: none;
  cursor: pointer; }

.nav-list-item {
  width: 100%;
  display: block;
  margin-top: 32px;
  cursor: pointer;
  -webkit-transition: 300ms;
  transition: 300ms; }

.nav-list-item:first-of-type {
  margin-top: 0px; }

.nav-list-item h4 {
  font-family: 'Inter', Sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
  text-transform: uppercase;
  color: white;
  overflow: scroll; }

.nav-list-item h5 {
  font-family: 'Inter', Sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  text-transform: uppercase;
  color: #808080;
  margin-bottom: 4px; }

.nav-list-item:hover h4 {
  color: #FFCF26;
  -webkit-transition: 300ms;
  transition: 300ms; }

.nav-list-item:hover h5 {
  color: #FFF;
  -webkit-transition: 300ms;
  transition: 300ms; }

.nav-list-item h4 {
  -webkit-transition: 300ms;
  transition: 300ms; }

.nav-list-item h5 {
  -webkit-transition: 300ms;
  transition: 300ms; }

.nav-list-wrapper {
  height: 100%;
  max-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

@media (min-width: 560px) {
  .nav-menu {
    min-height: 100vh;
    padding: 0px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .nav-list-item {
    text-align: center; }

  .nav-list-wrapper {
    max-width: 400px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .nav-list-item h4 {
    font-size: 28px;
    line-height: 130%; }

  .nav-list-item {
    margin-top: 40px; } }
@media (min-width: 768px) {
  .nav-menu {
    min-height: 100vh;
    padding: 0px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }
@media (max-width: 560px) {
  .nav-menu {
    padding-top: 80px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; } }
