.section-controller {
  display: flex;
  margin-top: 64px;
  justify-content: space-between;
}

.section-controller p {
  display: inline;
  color:#B8B8B8;
  margin: 0;
  cursor: pointer;
}

.section-controller p:first-of-type {
  display: inline;
  margin: 0;
}

.previous-section {
  color:#B8B8B8;
  transition: 300ms;
}

.next-section {
  color:#B8B8B8;
  transition: 300ms;
}

.previous-section:hover {
  color:#fff;
  transition:300ms;
}

.next-section:hover {
  color:#fff;
  transition:300ms;
}

.section-controller a {
  text-decoration: none;
}

.hidden-option {
  pointer-events: none;
  visibility: hidden;
  cursor: default;
}
