footer {
  width:100%;
  padding-top: 24px;
  padding-bottom: 24px;
  background:#111;
  display: block;
}

footer p {
  max-width:800px;
  color:#B8B8B8;
  font: {
    family:'Inter', Sans-serif;
    weight:400;
  }
  margin: 0 auto;
  text-align: center;
}
