nav {
  width:100%;
  padding-top:64px;
  padding-left: 64px;
  box-sizing: border-box;
  display: inline-block;
  position: fixed;
  z-index: 2;
  background-image: linear-gradient(180deg, rgba(0,0,0,1), rgba(0,0,0,0));
}

.nav-contents h4 {
  font: {
    family:'Inter', Sans-serif;
    size:20px;
    weight:600;
  }
  text-transform: uppercase;
  color:#fff;
  letter-spacing: 2.5%;
  cursor: pointer;
  margin-left: 16px;
}

.nav-contents {
  display:flex;
  align-items: center;
  transition: 400ms;
}

.nav-contents:hover h4,{
  color:#B8B8B8;
  transition: 400ms;
}

.nav-contents:hover {
  .bar1,
  .bar2,
  .bar3 {
    background-color:#B8B8B8;
    transition: 300ms;
  }

}

.menu-icon {
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 36px;
  height: 4px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.2s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -5px);
}

@media (max-width:1024px){
  nav {
    padding-top:32px;
    padding-left: 32px;
    box-sizing: border-box;
    display: inline-block;
    background: black;
  }
}

@media (max-width:768px){

  nav {
    padding:{
      top:16px;
      left:24px;
      bottom:16px;
    }
  }

  .nav-contents h4 {
    font-size:18px;
  }

  .bar1, .bar2, .bar3 {
    width: 28px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.2s;
  }

  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-8px, 4px);
  }

  .change .bar2 {opacity: 0;}

  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -4px);
  }

}
